<div id="section1">
        <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <br>
                        <p class="lead">
                            AndroidLovers helps users get the most out of the Google Android operating system.
                            We love to share android news, phones, tutorials, and tips to master your must-have device.
                            The Android world is always growing, but users can count on AndroidLovers to help them navigate through it.
                        </p>
                    </div>
                </div>
        </div>
    </div>
<div id="section2">
        <hr>
        <div class="container">
            
                <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="thumbnail">
                                <img src="images/device.png" alt="mobiles">
                            <div class="caption">
                                <h3>Mobiles</h3>
                                <p>Buying a new mobile?
                                Dont know which mobile to buy? Have a look at the collection of mobiles we have ,
                                You will surely find the right one for you.</p>
                                <p><a href="#" class="btn btn-custom" role="button">Know more</a></p> 
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="thumbnail">
                                <img src="images/tablet.png" alt="mobiles">
                            <div class="caption">
                                <h3></h3>
                                <h3>Tablets</h3>
                                <p>Buying a new tablet?
                                Dont know which tablet to buy? Have a look at the collection of tablets we have ,
                                You will surely find the right one for you.</p>
                                
                                <p><a href="#" class="btn btn-custom" role="button">Know more</a></p> 
                            </div>
                            </div>
                        </div>
                </div>
              </div>
                
            <!--<div id="quote">-->
            <!--    <div class="container">-->
            <!--        <div class="row">-->
            <!--           <div class="col-md-10 col-md-offset-2">-->
            <!--               <blockquote>-->
            <!--                      <p>You could have a million ideas, but they are all worthless if you do not get them done.</p>-->
            <!--                      <small>Someone famous in <cite title="Source Title">StartUp</cite></small>-->
            <!--                </blockquote>-->
            <!--           </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
<div id="section3">
        <hr>
        <div class="container">
            
                <div class="row">
                        <div class="col-md-6 col-xs-12 col-md-offset-3">
                            <div class="thumbnail">
                                <img src="images/apps.png" alt="apps">
                            <div class="caption">
                                <h3>Apps</h3>
                                <p>Dont know which apps to install?
                                 Have a look at the collection of best apps we collected ,
                                You will surely find the right one for you.</p>
                                <p><a href="#" class="btn btn-custom" role="button">Know more</a></p> 
                            </div>
                            </div>
                        </div>
                </div>
              </div>